
.header {
  height: 55px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navListItem {
  display: inline-block;
  padding: 1rem;
}

.link {
  margin: 1rem;
  text-decoration: none;
  color: white;
}

.link:hover {
  border-bottom: 1px dashed white;
  color: rgb(2, 233, 21);
}

.active {
  color: orange;
  border-bottom: 1px dashed white;
}



















