form {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  form input {
    display: block;
    width: 500px;
    margin: .5rem 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  button[type="submit"] {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  
  